<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121392168783-0ss970v4mpg6f0n4163m9jof338kvi8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121392168783-0ss970v4mpg6f0n4163m9jof338kvi8a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>121392168783-aoapetbcov5aeh4ldchp27dki8t7u850.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2wqWPEEn2vUKhoa-EpflKcTq5q6edrWk</string>
	<key>GCM_SENDER_ID</key>
	<string>121392168783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bus.nammasavaari.app</string>
	<key>PROJECT_ID</key>
	<string>bus-booking-application-aa7e5</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-booking-application-aa7e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121392168783:ios:428bfff1da7df934144f3a</string>
</dict>
</plist>